{%extends 'base.html'%}

{%block titulo%}Novo Contato  |  {%endblock%}

{%block conteudo%}
<h1 class="mt-5">Novo contato</h1>

<div class="container">
    <form action="{%url 'novo_contato'%}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <table class="table">
            {{form}}
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <a class="btn btn-primary" href="{%url 'index'%}" role="button">Cancelar</a>
                </td>
            </tr>
        </table>
    </form>
</div>
{%endblock%}
